.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #65647C;
    gap: 45px;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
}

.link:hover {
    color: #FFF8EA;
}
